@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");

:root {
  --bg-color: #ffffff;
  --primary-color: #1d1d1f;
  --secondary-color: #f5f5f7;
  --highlight-color: #0071e3;
  --accent-color: #86868b;

  --size-xs: 4px;
  --size-sm: 8px;
  --size-md: 16px;
  --size-lg: 24px;
  --size-xl: 32px;
  --size-2xl: 48px;

  --font-header: "Inter", sans-serif;
  --font-body: "Newsreader", serif;
  --text-sm: 8px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 24px;
  --text-2xl: 32px;
}
