@import url(../variables.css);

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-body);
}

h1 {
  font-family: var(--font-header);
}

button {
  background-color: var(--accent-color);
  border: 0;
  color: var(--secondary-color);
  margin-top: var(--size-md);
  padding: var(--size-sm) var(--size-md);
  border-radius: var(--size-sm);
}

button:hover {
  background-color: var(--highlight-color);
}

input {
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  border-radius: var(--size-sm);
}
